version: 2
accept_configuration:
  condition: property
  property: features
  not_contains_value: Disable

instructions:
  Build:
    - type: AppendToEnvironmentVariable
      variableName: COMMON_TEST_CMAKE_ARGS
      variableValue: " -DQT_ALLOW_DOWNLOAD=ON"
      enable_if:
        condition: property
        property: features
        contains_value: AllowDownload
    - !include "{{qt/qtbase}}/coin_module_build_template_v2.yaml"

  Test:
    - !include "{{qt/qtbase}}/coin_module_test_template_v3.yaml"
    - !include "{{qt/qtbase}}/coin_module_test_docs.yaml"
